body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #3a7bd5, #6a11cb);
  color: white;
}

/* Glass */
.glass {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(25px);
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  position: sticky;
  top: 0;
}

/* Auth */
.auth {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Create */
.create {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
}

/* Posts */
.post {
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  transition: 0.3s;
}

.post:hover {
  transform: scale(1.02);
}

.post img {
  width: 100%;
  border-radius: 15px;
}

/* Buttons */
button {
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
